<p class="user">
	@if (Request.IsAuthenticated)
	{
		<text>Hello, <strong>@Html.ActionLink(@User.Identity.Name, "ChangePassword", "Account")</strong> | @Html.ActionLink("Log Off", "LogOff", "Account")</text>
	}
	else
	{
		@Html.ActionLink("Log On", "LogOn", "Account")
	}
</p>